.nav-bar[b-yaw2sxdv8w] {
    width: 5rem;
    min-height: 100vh;
    height: auto;
    background-color:#F3F3F3;
    color: #111;
    padding: 20px 0;
}

.icons[b-yaw2sxdv8w] {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.icons .home:nth-child[b-yaw2sxdv8w] {
    color: black;

}
