.home-container[b-20kdo8w7gj] {
  width: 70%;
  height: 100vh;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.cover[b-20kdo8w7gj] {
    display: flex;

}


.order-checkout[b-20kdo8w7gj] {
    background-color: #F3F3F3;
    flex-grow: 1;
    height: 100vh;
    padding: 20px 30px;
}

.food-display[b-20kdo8w7gj] {
  width: 100%;
  height: 500px;
  background-color:#FA6401;
  margin: 20px 0;
  border-radius: 10px;
}

.search-container[b-20kdo8w7gj] {
  width: 100%;
  height: 15%;

  border-radius: 10px;
  background-color: #F3F3F3;
  font-size: 16px;
  display: flex;
  box-sizing: border-box;
}

.search-container:active[b-20kdo8w7gj] {
  border: 2px solid #111;
}

.search-bar[b-20kdo8w7gj] {
  width: 90%;
  align-self: right;
  border: none;
  background: none;
  height: 100%;
}

.search-container .mag-glass[b-20kdo8w7gj] {
  width: 10%;
  height: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-options[b-20kdo8w7gj] {
  width: 100%;

  flex-direction: column;
  box-sizing: border-box;
  overflow-y: scroll;
  flex-grow: 1;
  scrollbar-width: none;
}

.filter[b-20kdo8w7gj] {
  width: 100%;
  height: 100px;
  position: sticky;
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

.filter li:hover[b-20kdo8w7gj] {
    cursor: pointer;
    color: orange;
}

.options-box[b-20kdo8w7gj] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  min-height: 50vh;
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: none;
}

.order[b-20kdo8w7gj] {
  height: 350px;
}

.order:hover[b-20kdo8w7gj] {
    transform: translateY(-2px);
    cursor: pointer;
    
}

.order .img-frame[b-20kdo8w7gj] {
  height: 80%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.img-frame img[b-20kdo8w7gj] {
  width: inherit;
  object-fit: cover;
  object-position: top center;
}


